.header {
  &__topbar {
    background-color: $green;
    min-height: 55px;
    color: $white;
    display: flex;

    .topbar {
      @extend .container;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      font-weight: 600;

      i {
        font-size: 15px;
      }

      &__account {
        display: flex;
        align-items: center;

        .icon {
          margin-right: 20px;

          @include media-breakpoint-down(sm) {
            margin-right: 10px;
          }
        }

        .line {
          margin: 0 30px;
          width: 1px;
          height: 30px;
          background-color: $green-light;
          display: inline-block;

          @include media-breakpoint-down(sm) {
            margin: 0 10px;
          }
        }
      }

      &__icons {
        .icon:first-child {
          margin-right: 30px;

          @include media-breakpoint-down(sm) {
            margin-right: 10px;
          }
        }
      }
    }
  }

  &__notice {
    background-color: $black;
    min-height: 42px;
    color: $white;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }
  }

  &__nav {
    background-color: $gray;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    .navbar {
      height: auto;
      flex-grow: 1;
      min-height: 85px;
      position: static;
      &-brand {
        margin-right: 100px;
      }
      
      .nav-item {
        position: static !important;
        margin-right: 15px;
      }
      
      .dropdown-menu {
        border: none;
        margin: 0;
        border-radius: 0;
        height: $bannerHeight;
        background-color: $white;
        width: 100%;
        box-shadow: 0 4px 9px -3px lighten($black, 70%);
        
        &.show {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
        }

        .menu {
          @extend .container;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: flex-start;
          max-height: 100%;
          padding: 30px;
          align-items: flex-start;

          &__category {
            font-weight: 600;
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 10px;
          }

          &__subcategory {
            font-size: 14px;
          }

          &__category, &__subcategory {
            text-decoration: none;
            color: $black;
          }

          .menu__subcategory + .menu__category {
            margin: 10px 0;
          }
        }
      }
      .dropdown-toggle {
        &::after {
          display: none;
        }
      }
      .dropdown {
        &.show {
          .dropdown-toggle {
            position: relative;
            &::after {
              content: "";
              display: block;
              width: 100%;
              height: 5px;
              background-color: $green;
              border: none;
              position: absolute;
              bottom: -22px;
              left: 0;
              animation: fadeIn .6s;
            }
          }
        }
      }

      .nav-link {
        &:hover {
          color: $green;
        }
      }
    }
  }
}
