// colors
$green: #01d896;
$green-light: #9be6cf;
$white: #ffffff;
$black: #000000;
$black2: #292929;
$gray: #f8f8f8;
$gray2: #e5e5e5;
$gray3: #c3c3c3;
$gray4: #9f9f9f;
$gray5: #abaaaa;
$red: red;

// Fonts
$font-size-xl: 1.375rem;
// sizing
$bannerHeight: 450px;
